/* google fonts mulish and inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

.font-mulish {
  font-family: "Mulish", sans-serif;
}

.font-inter {
  font-family: "Inter", sans-serif;
}

.forum-name {
  background: -webkit-linear-gradient(60deg, #797DFCFF 70%, #797DFC00);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}